*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f0f4fa;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #f0f4fa #1a2a4a;
}

/* HEADER SECTION */
header { 
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    background-color: #1a2a4a;
}

header div{
    background-color: #1a2a4a;

}

header span{
    background-color: #1a2a4a;
    color: #f0f4fa;;

}

.main-nav ul{
    list-style: none;   
    display: flex;       
    justify-content: center;
    gap: 20px;   
    padding: 10px;
    background-color: #1a2a4a;

}

.main-nav ul li a{
    background-color: #1a2a4a;
    color:#f0f4fa;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s, color 0.3s;
}

.main-nav a:hover{
    border-bottom: 2px solid #f1ac3b;
    color: #f1ac3b;

}

.logo-name{
    text-align: center;
    padding: 10px;
}




/*HERO TEXT*/

.hero{
    display: flex;
    padding: 80px ;
    justify-content: space-evenly;
}

.hero-text {
    text-align: center;
    padding: 10px;
    max-width: 600px;
    align-items: center;
    margin: auto;
}

.hero-text h1{
    margin-bottom: 15px;
    font-size: 3rem;
    font-weight: 700;
}

.hero-text span{
    color: #f1ac3b;
}

.hero-text p{
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.hero-text .btn {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 7%;
    background-color: #1a2a4a;
    color: #f0f4fa;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.hero-text .btn:hover {
    border-bottom: 2px solid #f1ac3b;
    background-color: #f1ac3b;
    color: white;
}

.hero-img img{
    width: 400px;
}