@use 'utility/reset' as *;
@use 'utility/variables' as *;
@use 'utility/utilities' as *;
@use 'utility/btn' as *;

header {
  display: flex;
  justify-content: space-between;
  padding: $space-lg $space-xl ;
  background-color: $color-nav;

  .logo{
    @include flex-center; /**/
  }

  .btn__menu{
    @include flex-center;
    flex-direction: column;
    gap: $space-sm;
    position: static;
    z-index: 20;
    right: 0;

    
    span {
      background-color: $color-text;
      width: $space-xl;
      height: $space-xs;
      border-radius: 5px;
    }

    &--active {
      span{
        
      }
    }

    
  }

  .nav{
    @include flex-center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $color-nav;
    backdrop-filter: blur(18px);
    height: 100dvh;
    width: 30dvh;
    right: -100%;
    transition: ease-in-out .5s;
    
    &__list{
    display: flex;
    flex-direction: column;
    gap: $space-xl;
    position: absolute;
    top: 0;
    padding-top: 80px;
    }

    &--active{
      right: 0;
    }

  // ---- Tablet ----


  // ---- Desktop ----

  }
}